/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: #49a6e9;
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s ease-in;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/

html {
  scroll-behavior: smooth;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-secondary);
  background: #131313;
  color: var(--clr-grey-3);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img:not(.logo) {
  width: 100%;
  height: 100%;
}
img {
  display: block;
}

h1,
h2,
h3,
h4 {
  /* letter-spacing: var(--spacing); */
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);

}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}



/*  global classes */



/* section */


.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}
/* main {
  min-height: 100vh;
  display: grid;
  place-items: center;
} */

code,
pre {
  background: #333;
  color: #fff;
  padding: 10px;
}


/* .hidden {
  visibility: hidden;
  height: 0;
} */

section {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}



.game-tab.hide {
  display: none;
}

.disp-btn.hide, .disp-btn2.hide{
  display: none;
}

.time.hide, .time2.hide{
  display: none;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: 80px;
  width: 100%;
}

.tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 80px;
}

.tabs button{
  font-size: 1.5rem;
  color: var(--clr-grey-1);
  border-radius: 4px;
  border: 2px solid var(--clr-red-dark);
  padding: 5px 10px;
  cursor: pointer;
  font-weight: bold;
  margin: 0 5px;
  transition: var(--transition);
}

.tabs button:hover {
  transform: scale(1.1);
  transition: var(--transition);
  color: var(--clr-red-dark);
  background: var(--clr-grey-1);
}



.time, .time2{
  width: 100%;
}

.alert {
  display: flex;
  flex-direction: column;
  justify-content: center;
  visibility: hidden;
  width: 50%;
  border-radius: 5px;
  height: 2rem;
  margin-bottom: 0;
}

.alert p {
  height: 100%;
  justify-self: center;
  align-items: center;
  text-align: center;
  margin-bottom: 0;
}

.alert.error {
  background-color: var(--clr-red-light);
  visibility: visible;
  color: #fff;
}

.alert.success {
  background-color: var(--clr-green-light);
  visibility: visible;
  color: #fff;
}

main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}


/* memory game */
.container-mem {
  width: 90vh;
  margin:0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
  transition: var(--transition);
}

.container-mem.grid {
  display: grid;
  grid-template-columns: repeat(4,125px);
  gap: 5px;
}

.card {
  width: 125px;
  height: 125px;
  object-fit: cover;
  padding: 5px;
  position: relative;
  transition: var(--transition);
  transform-style: preserve-3d;
}

.card.flip {
  transform: rotateY(180deg);
}

.disp {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  padding: 10px 0;
}

.disp-btn, .disp-btn2 {
  font-size: 1.5rem;
  color: var(--clr-grey-1);
  border-radius: 4px;
  border: 2px solid var(--clr-red-dark);
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.switch, .switch2 {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  background: var(--clr-grey-1);
  border-radius: 4px;
  transition: var(--transition);
}

.switch.left, .switch2.left {
  left: 50%; 
  transition: var(--transition);
}

.switch-text {
  padding: 5px 10px;
}

.none .card.flip.turned {
  visibility: hidden;
}


.front-img, .back-img{
  position: absolute;
  top: 0;
  left: 0;
  border: 2px solid var(--clr-red-dark);
  border-radius: 10px;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden; /* Safari */
}

.back-img {
  transform: rotateY(180deg);
}

/* 1-30 game */

.container-30 {
  display: grid;
  grid-template-columns: repeat(6,75px);
  gap: 5px;
  transition: var(--transition);
}

.number-card {
  height: 75px;
  width: 75px;
  border-radius: 10px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: solid 2px var(--clr-red-dark);
  cursor: pointer;
  transition: var(--transition);
}

.number-card h1 {
  font-size: 3rem;
  justify-self: center;
  margin: 0;
  letter-spacing: 0;
  width: 100%;
  transition: var(--transition);

}

.number-card:hover {
  transform: scale(1);
  transition: var(--transition);
}

.number-card.blank h1{
  color:  #fff;
  transition: var(--transition);
}

.hidden .number-card.turned {
  visibility: hidden;
  transition: var(--transition);
}

.hidden .number-card.turned h1{
  visibility: hidden;
  transition: var(--transition);
}

/* Tictactoe */

.container-xox {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 4px;
}

.xox_card {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100px;
  width: 100px;
  border: solid 2px var(--clr-red-dark);
  border-radius: 5px;
  transition: var(--transition);

}

.xox_card h3 {
  font-size: 4rem;
  margin: 0;
  transition: var(--transition);
}

/* Minesweeper */

.container-mine {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 2px;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: var(--transition);
  min-height: 300px;
}

.mine-card {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid var(--clr-red-dark);
  background-color: #fff;
  transform: var(--transition);
}

.mine-card .letter{
  font-size: 2rem;
  width: 100%;
  height: 100%;
  margin: 0;
  transition: var(--transition);
  line-height: normal;
}

.mine_input {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
} 

#mine_form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
}

.mine_control {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

.mine_label {
  font-size: 2rem;
  padding: 5px 15px;
}

.mine_control input {
  font-size: 1.5rem;
  padding: 5px;
  border-radius: 4px;
}

/* time */

.time, .time2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 20px 0;
}

.time span, .time2 span {
  width: 100%;
}

.time h3, .time2 h3 {
  margin: 0;
  width: 12rem;
  font-size: 1.3rem;
  height: 100%;
}

.time2 h3 {
  width: 100%;
}

.time h3.result, .time2 h3.result {
  width: 100%;
}

.play, .play_mine {
  cursor: pointer;
  font-size: 1.75rem;
  border-radius: 5px;
  padding:0 10px;
  transition: var(--transition);
  border: 2px solid var(--clr-red-dark);
}

.play:hover, .play_mine:hover {
  transition: var(--transition);
  transform: scale(1.1);
}



@media screen and (max-width: 900px) {


  .card {
    width: 100px;
    height: 100px;

  }

  .container-mem.grid {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    gap: 4px;
  }

  .container-mem {
    width: 90%;
    margin: 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  section{
    width: 100%;
    margin: 10px 0;
  }

  .tabs button{
    font-size: 1rem;
    border-radius: 4px;
    padding: 5px 10px;
    margin: 0 5px;
  }

  .container-30 {
    grid-template-columns: repeat(6,50px);
    gap: 2px;
  }
  
  .number-card {
    height: 50px;
    width: 50px;
  }
  
  .number-card h1 {
    margin-bottom: 0;
    font-size: 2rem;
    justify-self: center;
  }

  .disp {
    font-size: 1rem;
  }
  .switch-text {
    font-size: 1rem;
  }

  .time h3, .time2 h3 {
    width: 7rem;
    font-size: 0.9rem;

  }
  
  .play, .play_mine {
    font-size: 1.25rem;
  }

  .time2 h3 {
    width: 100%;
  }

  .xox_card {
    height: 70px;
    width: 70px;
    border-radius: 5px;  
  }
  
  .xox_card h3 {
    font-size: 3rem;
    margin: 0;
  }

}


@media screen and (max-width: 600px) {
  .card {
    width: 75px;
    height: 75px;

  }

  .container-mem.grid {
    display: grid;
    grid-template-columns: repeat(4,75px);
    gap: 4px;
  }

  .container-mem {
    width: 90%;
    margin: 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  section{
    width: 100%;
    margin: 10px 0;
  }

  .tabs button{
    font-size: 0.7rem;
    border-radius: 4px;
    padding: 2.5px 5px;
    margin: 0 5px;
  }

  .container-30 {
    grid-template-columns: repeat(6,40px);
    gap: 1px;
  }
  
  .number-card {
    height: 40px;
    width: 40px;
  }
  
  .number-card h1 {
    margin-bottom: 0;
    font-size: 1.3rem;
    justify-self: center;
  }

  .disp {
    font-size: 0.7rem;
  }
  .switch-text {
    font-size: 0.7rem;
  }

  .play, .play_mine {
    font-size: 1rem;
  }

  .time2 h3 {
    width: 100%;
  }

  .xox_card {
    height: 50px;
    width: 50px;
    border-radius: 5px;  
  }
  
  .xox_card h3 {
    font-size: 2.2rem;
    margin: 0;
  }
}
